@import "assets/scss/main.scss";

.DesktopHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 20%);
  position: relative;
  z-index: 1;

  // >img {
  //   height: 60px;
  //   width: auto;
  //   cursor: pointer;
  // }

  >div:first-child {
    display: flex;
    align-items: center;
    gap: 2rem;

    .menuItems {
      display: flex;
      gap: 3rem;
    }

    .menuItem {
      position: relative;
      cursor: pointer;

      >span {
        font-weight: 400 !important;
        cursor: pointer;
        color: #686868;
      }

      .activeLink {
        color: #705391;
        font-weight: 600 !important;
      }
    }
  }


  >button {
    gap: 0.3rem;
    cursor: pointer;
    background-color: #705391;
    border: none;
    color: #ffffff;
    padding: 1rem 1.3rem;
    font-size: var(--font-size-body-s);
    font-weight: 400 !important;
    border-radius: 0.5rem;
  }
}